.banner-left {
    width: 40%;
    height: inherit;
    float: left;
}

.column1 {
    float: left;
    width: 30%;
    height: inherit;
}

#temp {
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: #212121;
    font-weight: lighter;
    margin-left: 25px;
}

.column2 {
    float: left;
    width: 70%;
    font-stretch: 100%;
    height: inherit;
}

.col2_1 {
    float: left;
    width: 42%;
    height: inherit;
    margin-top: -13px;
}

.col2_2 {
    float: left;
    width: 29%;
    height: inherit;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color: #212121;
    font-size: 16px;
    margin-top: 1px;
    cursor: default;
}